body {
    background-color: #000000;
    /*-- remove gaps at edge of viewport --*/
    margin: 0px;
    /*-- google fonts --*/
    font-family: 'Press Start 2P', cursive;
    color: $mycolor_white;

    >div {
        display: flex;
        flex-flow: column wrap;
        /*-- stop page content from getting too wide --*/
        max-width: 356px;
        /*-- center the page horizontally --*/
        margin: auto;
        /*--
      flex-direction: column; --*/
        /*-- expand the page height to at least be as tall as the viewport --*/
        min-height: 100vh;
    }
}

h2 {
    color: $mycolor_yellow;
    font-size: 1.1rem;
    margin-left: 0px;
}

main {
    background-color: $mycolor_blue;
    flex: 1;
    padding: 10px;
    position: relative;

    nav {
        button {
            all: unset;
            font-size: 0.6rem;
            margin-bottom: 5px;
            cursor: pointer;
            height: 20px;
            padding: 5px;


        }

        button:hover {
            background-color: $mycolor_green;
        }
    }

    >div {
        border: 8px solid #AA6600;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
}

section {
    div {
        >img {
            width: 100%;
            height: auto;
        }
    }

    >div {
        position: relative;

        >div {
            display: flex;
            flex-flow: row nowrap;
            padding: 6px;
            position: absolute;
            bottom: 6px;
            border: 2px solid $mycolor_white;
            background-color: rgba(0, 0, 132, 0.5);

            >div:first-of-type {

                min-width: 150px;

            }
        }
    }
}

#rule {
    width: 314px;
    position: absolute;
    top: 52px;
    left: 18px;
    z-index: 2;
    border: 8px solid $mycolor_white;
    background-color: rgba(0, 0, 132, 0.8);
    padding: 10px;
    font-size: 0.6rem;
    line-height: 20px;

    button {
        @include my-button(unset, pointer, $myfont-family, 0.8rem);
        background-color: $mycolor_red;
        width: 20px;
        height: 20px;
        text-align: center;
        position: absolute;
        top: -8px;
        right: -8px;
    }

    ul {
        list-style: none;
        list-style-image: url(../images/arrow.png);
    }
}

#result {
    width: 314px;
    position: absolute;
    top: 52px;
    left: 18px;
    z-index: 2;
    border: 8px solid $mycolor_white;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;

    >p {
        color: $mycolor_red;
    }

    >img {
        width: 50%;
        height: auto;
    }
}

#player-img,
#computer-img {
    min-width: 99px;
    width: 100%;
    height: auto;
}

#player-dice,
#computer-dice {
    min-width: 49px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    img {
        width: 49px;
        height: 49px;
    }
}

#menu {
    display: none;
}

#panel {
    width: 250px;
    height: 156px;
    display: flex;
    flex-flow: column wrap;
    margin-left: 34px;

    button {
        @include my-button(unset, pointer, $myfont-family, 0.8rem);
        height: 30px;
        padding-left: 60px;
        margin-top: 10px;

    }

    button:hover {
        background-color: rgba(255, 255, 255, 0.6);
        color: $mycolor_yellow;
    }
}